@using HandmadeByDoniApp.Web.Resources
@model ChangePasswordViewModel

<h3>@L["ChangePassword"]</h3>
<form asp-action="ChangePassword" method="post">
    <div class="form-group">
        <label asp-for="CurrentPassword">@L["CurrentPassword"]</label>
        <input asp-for="CurrentPassword" type="password" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NewPassword">@L["NewPassword"]</label>
        <input asp-for="NewPassword" type="password" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword">@L["ConfirmPassword"]</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">@L["ChangePassword"]</button>
</form>

