@using HandmadeByDoniApp.Services.Data.Interfaces
@using HandmadeByDoniApp.Web.Resources
@using Microsoft.AspNetCore.Identity
@using HandmadeByDoniApp.Web.Infrastructure.Extensions
@using HandmadeByDoniApp.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@inject IUserService UserService
@{
    string userFullName = await UserService.GetFullNameByIdAsync(User.GetId());
}

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="button-memu" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@App.L("Hello"), @userFullName</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-dark button-memu">@App.L("Logout")</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="button-memu" asp-area="" asp-controller="User" asp-action="Register">@App.L("Register")</a>
    </li>
    <li class="nav-item">
        <a class="button-memu" asp-area="" asp-controller="User" asp-action="Login">@App.L("Login")</a>
    </li>
    /*
    <li class="nav-item">
            <a class="button-memu" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
            <a class="nav-link button-memu" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>*/
}

