@using HandmadeByDoniApp.Services.Data.Interfaces
@using HandmadeByDoniApp.Web.Infrastructure.Extensions
@model ProductsAllViewModel



<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="House Image">
        <div class="card-body text-center">
            <h4>@Model.Title</h4>
            <h6>
                Price
                <b>@($"{Model.Price:f2}") BGN</b>
            </h6>
            <h6>(@(Model.IsActive ? "Available" : "Not Available"))</h6>
            <br />
            <a asp-area="" asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success">Details</a>

            @if (User.IsAdmin())
            {
                <a asp-area="" asp-controller="House" asp-action="Edit" asp-route-id="@Model.Id"
                   class="btn btn-warning">Edit</a>
                <a asp-area="" asp-controller="House" asp-action="Delete" asp-route-id="@Model.Id"
                   class="btn btn-danger">Delete</a>
            }


            <a asp-area="" asp-controller="House" asp-action="Index" asp-route-id="@Model.Id"
               class="btn btn-primary">Buy</a>
            <a class="ml-2 btn btn-info" asp-area="" asp-controller="Product" asp-action="Comment"
               asp-route-id="@Model.Id">Comment</a>
                      
        </div>
    </div>
</div>
