@using HandmadeByDoniApp.Services.Data.Interfaces
@using HandmadeByDoniApp.Web.Infrastructure.Extensions
@using HandmadeByDoniApp.Web.Resources
@model ProductsAllViewModel


<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="@L["Image"]">
        <div class="card-body text-center">
            <h4>@Model.Title</h4>
            <h6>(@(Model.IsActive ? L["Available"] : L["NotAvailable"]))</h6>
            <h6>
                @L["Price"]
                <b>@($"{Model.Price:f2}") @L["Currency"]</b>
            </h6>

            <a class="btn btn-primary"
               asp-area=""
               asp-controller="Order"
               asp-action="Add"
               asp-route-returnUrl="@Url.Action("All", "Product", new { area = "" })"
               asp-route-id="@Model.Id">@L["Add"]</a>
            <br />
            <a asp-area=""
               asp-controller="Product"
               asp-action="Details"
               asp-route-id="@Model.Id"
               class="btn btn-success">@L["Details"]</a>

            @if (User.IsAdmin())
            {
                <a asp-area="Admin"
                   asp-controller="Product"
                   asp-action="Edit"
                   asp-route-id="@Model.Id"
                   class="btn btn-warning">@L["Edit"]</a>

                <a asp-area="Admin"
                   asp-controller=""
                   asp-action="Delete"
                   asp-route-id="@Model.Id"
                   class="btn btn-danger">@L["Delete"]</a>
            }

            <a class="ml-2 btn btn-info"
               asp-area=""
               asp-controller="Comment"
               asp-action="Comment"
               asp-route-id="@Model.Id">@L["Comment"]</a>

        </div>
    </div>
</div>

