@using HandmadeByDoniApp.Web.Resources
@model IEnumerable<IndexViewModel>

@{
    ViewData["Title"] = App.L("NewProducts"); 
    var products = Model.ToList();
    // List<ProductViewModel> productViewModels = Model.Select(product => new ProductViewModel
    //         {
    //             ImageUrl = product.ImageUrl
    //         }).ToList();
}
<head>
    <link rel="stylesheet" href="~/css/Home/Index.css" asp-append-version="true" />
</head>

<article>
    <h2 class="text-center title">@ViewData["Title"]</h2>
    <hr />
</article>


@if (!products.Any())
{
    <div class="mt-4 p-5 bg-light">
        <h1 class="display-4">  @App.L("Welcome")</h1>
        <p class="lead">@App.L("NoProductInSystem")</p>
        <hr class="my-4">
    </div>
}
else
{
    <div class="card-product">
        @foreach (IndexViewModel product in products)
        {
            string carouselId = $"productCarousel_{product.Id}";
            <div class="min-card w-25 shadow-lg">
                <partial name="_ImageUrlsPartial" model="@(product.ImageUrl,carouselId )" />
                <div class="card-body">
                    <h5 class="card">
                        <a class="btn btn-primary"
                           asp-area=""
                           asp-controller="Product"
                           asp-action="Details"
                           asp-route-id="@product.Id">@* @App.L("Name"):  *@@product.Title</a>
                    </h5>
                </div>
            </div>
            }       
    </div>
}
  