@model IEnumerable<IndexViewModel>

@{
    ViewData["Title"] = "New Produts"; var products = Model.ToList();
}
<head>
    <link rel="stylesheet" href="~/css/Home/Index.css" asp-append-version="true" />
</head>

<article class="title">
    <h2 class="text-center">@ViewData["Title"]</h2>
    <hr />
</article>


@if (!products.Any())
{
    <div class="mt-4 p-5 bg-light">
        <h1 class="display-4">Welcome to the best place for Art!</h1>         
        <p class="lead">
            There are no product in the system currently available.
        </p>
        <hr class="my-4">
    </div>
}
else
{
    <div class="card-product">
        @foreach (IndexViewModel product in products)
        {
            <div class="min-card w-25">
                <img src="@product.ImageUrl" class="d-block w-100 img" alt="@product.Title">
                <div class="card-body">
                    <h5 class="card">
                        <a class="btn btn-primary" asp-controller="Producr" asp-action="Details"
                           asp-route-id="@product.Id"> @product.Title</a>
                    </h5>
                </div>
            </div>
        }
    </div>
}



