@using HandmadeByDoniApp.Web.Resources
@model EditOrderViewModel
@{
    ViewData["Title"] = App.L("AddShipmentNoteNumber");
}
<head>
    <link rel="stylesheet" href="~/css/Order/UsersOrders.css" asp-append-version="true" />
</head>
<h2 class="text-center title">@ViewData["Title"]</h2>
<hr />

<table class="table table-striped text-center">
    <thead>
        <tr>

            <th><label>@App.L("Name")</label></th>
            <th><label>@App.L("Email")</label></th>
            <th><label>@App.L("Phone")</label></th>
            <th><label>@App.L("Address")</label></th>
            <th><label>@App.L("Payment")</label></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><label>@Model.UserName</label></td>
            <td><label>@Model.UserEmail</label></td>
            <td><label>@Model.UserPhone</label></td>
            <td><label>@(Model.Address)</label></td>
            <td><label>@(Model.MethodPayment)</label></td>
        </tr>
    </tbody>
</table>
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        
        <form method="post">
            <div class="form-group">
                 
                <label asp-for="ShipmentNoteNumber">@App.L("ShipmentNoteNumber") </label>
                <textarea asp-for="ShipmentNoteNumber" rows="4" class="form-control" placeholder="@App.L("1234567")..."></textarea>
                <span asp-validation-for="ShipmentNoteNumber" class="small textdanger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="@App.L("Sent")" />
            </div>
        </form>
    </div>
</div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

