@using HandmadeByDoniApp.Web.Resources
@model ICollection<AdminOrdersViewModel>
@{
    ViewData["Title"] = App.L("UsersOrders");
}
<h2 class="text-center title">@ViewData["Title"]</h2>
<hr />
<table class="table table-striped text-center">
    <thead>
        <tr>
            
            <th><label>@App.L("FullName")</label></th>
            <th><label>@App.L("Email")</label></th>
            <th><label>@App.L("PhoneNumber")</label></th>
            <th><label>@App.L("Address")</label></th>
            <th><label>@App.L("Date")</label></th>
            <th><label>@App.L("DeliveryCompany")</label></th>
            <th><label>@App.L("Payment")</label></th>
            <th><label>@App.L("Commands")</label></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td><label>@user.FullName</label></td>
                <td><label>@user.Email</label></td>
                <td><label>@user.PhoneNumber</label></td>
                <td><label>@($"{user.CountryName}, {user.CityName}, {user.Street}")</label></td>
                <td><label>@user.Data</label></td>
                <td><label>@user.DeliveryCompanyName</label></td>
                <td><label>@($"{user.MethodPayment} {user.TotalPrice}{App.L("Currency")}")</label></td>
                <td>
                        @if (user.IsSent==false)
                        {
                        <a class="ml-2 btn btn-primary"
                           asp-area="Admin"
                           asp-controller="Order"
                           asp-action="Sent"
                           asp-route-orderId="@user.OrderId">@App.L("Sent")</a>
                        }
                    <a class="ml-2 btn btn-primary"
                       asp-area=""
                       asp-controller="Order"
                       asp-action="ProductOrder"
                       asp-route-id="@user.OrderId">@App.L("OrderDetails")</a>

                    <a asp-area="Admin"
                       asp-controller="Order"
                       asp-action="CancelOrder"
                       asp-route-id="@user.OrderId"
                       class="btn btn-danger">@App.L("Delete")</a>                       
                </td>
            </tr>
        }
    </tbody>
</table>