@using Ganss.Xss
@using HandmadeByDoniApp.Services.Data.Interfaces
@using HandmadeByDoniApp.Web.Infrastructure.Extensions
@model AllProductCommentViewModel
@inject ICommentService CommentService

@{
    ViewBag.Title = "Comment";
}
<h2 class="text-center title">@ViewBag.Title</h2>
<hr />
<head>
    <link href="~/css/comment.css" rel="stylesheet" />
</head>
<section class="product-comment">
    <div class="row col-5">
        <div class="col-4">
            <img class="card-img-top" style="max-width: 20em;" src="@Model.ImageUrl" alt="Glass Image">
        </div>
        <div class="card col-5 border-0">
            <p style="font-size:25px;"><u>@Model.Title</u></p>
            <p>@Model.Description</p>

        </div>

    </div>
    <section class="comment-section">
        <div class="write-comment">
            <a class="ml-2 btn btn-info" asp-controller="Comment" asp-action="WriteComment"
               asp-route-id="@Model.Id">Write a comment</a>
        </div>
        <article>
            @if (Model.Comments.Any())
            {
                @foreach (var comment in Model.Comments)
                {

                    <div class="card card-comment">
                        <section class="comment-title">
                            <h4 class="">@comment.UserName</h4>
                            <a class="ml-2 btn btn-info"
                               asp-area=""
                               asp-controller="Comment"
                               asp-action="WriteToComment"
                               asp-route-id="@Model.Id"
                               asp-route-commentId="@comment.Id">Write to @comment.UserName</a>
                            @if (await this.CommentService.HasUserCommentByUserIdAndByCommentIdAsync(User.GetId(), comment.Id))
                            {
                                <a class="ml-2 btn btn-warning"
                                   asp-area=""
                                   asp-controller="Comment"
                                   asp-action="Edit"
                                   asp-route-id="@Model.Id"
                                   asp-route-commentId="@comment.Id">Edit</a>
                            }
                            <p class="">@comment.Time</p>
                        </section>
                        <section class="comment-text">
                            <p>@comment.Text</p>
                        </section>

                        @if (comment.Comments.Any())
                        {
                            @foreach (var com in comment.Comments)
                            {
                                <div class="card comment-comment">
                                    <section class="comment-title">
                                        <h4 class="">@com.UserName</h4>
                                        @if (await this.CommentService.HasUserCommentByUserIdAndByCommentIdAsync(User.GetId(), com.Id))
                                        {
                                            <a class="ml-2 btn btn-warning"
                                               asp-area=""
                                               asp-controller="Comment"
                                               asp-action="Edit"
                                               asp-route-id="@Model.Id"
                                               asp-route-commentId="@com.Id">Edit</a>
                                        }
                                        <p class="">@com.Time</p>
                                    </section>
                                    <section class="comment-text">
                                        <p>@com.Text</p>
                                    </section>
                                </div>
                            }
                        }
                    </div>
                }
            }
            else
            {
                <h2 class="text-center">No comments. Be the first to comment!</h2>
            }
        </article>
    </section>
</section>