@using HandmadeByDoniApp.Web.Infrastructure.Extensions
@model BoxDetailsViewModel

@{
    ViewBag.Title = "Box Details";
}

<h2 class="text-center title">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;" src="@Model.ImageUrl" alt="Box Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Title</u></p>
            <p>@Model.Description</p>
            <p><i>Capacity: Can store @(Model.Capacity) glasses. </i> </p>

            <p>Price:<b>@($"({Model.Price:f2}")) BGN</b></p>
            <div class="form-inline">
                <a class="ml-2 btn btn-primary" asp-controller="" asp-action=""
                   asp-route-id="@Model.Id">Buy</a>
                <a class="ml-2 btn btn-info" asp-controller="Comment" asp-action="Comment"
                   asp-route-id="@Model.Id">Comment</a>
            </div>
            <div class="form-inline">

                @if (User.IsAdmin())
                {
                    <a class="btn btn-warning" asp-controller="Box" asp-action="Edit"
                       asp-route-id="@Model.Id">Edit</a>
                    <a class="ml-2 btn btn-danger" asp-controller="Box" aspaction="Delete"
                       asp-route-id="@Model.Id">Delete</a>

                }
            </div>
        </div>
    </div>
</div>

