@using HandmadeByDoniApp.Web.Resources
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<App> L
@using HandmadeByDoniApp.Web.Infrastructure.Middlewares;
@model IEnumerable<UserViewModel>

@{
    ViewBag.Title = L["AllUsers"];
}

<h2 class="text-center title">@ViewBag.Title</h2>
<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th><label>@L["Email"]</label></th>
            <th><label>@L["FullName"]</label></th>           
            <th><label>@L["UserIsOnline"]</label></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td><label>@user.Email</label></td>
                <td><label>@user.FullName</label></td>
              
                <td>
                    @if (OnlineUsersMiddleware.CheckIfUserIsOnline(user.Id))
                    {
                        <label>✔</label>
                    }
                    else
                    {
                        <label class="text-center">❌</label>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>