@using HandmadeByDoniApp.Services.Data.Interfaces
@using HandmadeByDoniApp.Web.Resources
@model DetailsOrdarViewModel;
@inject IAddressService addressService

@{
    ViewBag.Title = L["OrderDetails"];
}
<head>
    <link rel="stylesheet" href="~/css/Order/DetailOrder.css" asp-append-version="true" />
</head>
<h2 class="text-center title">@ViewBag.Title</h2>
<hr />
<section class="details">
    <section class="address text-start">

        @if (Model.Address != null)
        {
            
                string deliveryCompanyName = await this.addressService.GetDeliveryCompanyNameAsyng(Model.Address.DeliveryCompanyId);
                string methodPaymentName = await this.addressService.GetMethodPaymentNameAsyng(Model.Address.MethodPaymentId);

            <h3 class="text-center title">@L["Address"]</h3>
            <h5> <label asp-for="@Model.Address.CountryName">@L["Country"]</label> - @Model.Address.CountryName</h5>
            <h5> <label asp-for="@Model.Address.CityName">@L["City"]</label> - @Model.Address.CityName</h5>
            <h5> <label asp-for="@Model.Address.Street">@L["Street"]</label> - @Model.Address.Street</h5>
            <h5> <label asp-for="@Model.Address.PhoneNumber">@L["PhoneNumber"]</label> - @Model.Address.PhoneNumber</h5>
            <h5> <label asp-for="@Model.Address.DeliveryCompanyId">@L["DeliveryCompany"]</label> - @deliveryCompanyName</h5>
            <h5> <label asp-for="@Model.Address.MethodPaymentId">@L["MethodPayment"]</label> - @methodPaymentName</h5>
            <a asp-area=""
               asp-controller="Address"
               asp-action="Edit"
               class="btn btn-warning">@L["Edit"] @L["Address"] </a>
        }
        else
        {
            <h3 class="text-center title">@L["AddAddressCompleteOrder"]</h3>
            <a asp-area=""
               asp-controller="Address"
               asp-action="Add"
               class="btn btn-warning">@L["Add"] @L["Address"] </a>
        }
    </section>
    <section class="product-center col-12">
        <h3 class="text-center title">@L["ProductBuy"]</h3>
        @if (Model.MineProduct.Products.Any())
        {

            @foreach (var product in Model.MineProduct.Products)
            {
                string carouselId = $"productCarousel_{product.Id}";
                <div class="col-9 mt-2">
                    <div class="card-list">
                        @* <img class="card-img-list" src="@product.ImageUrl" alt="@App.L("Image")"> *@
                        <partial name="_ImageUrlsPartial" model="@(product.ImageUrl,carouselId)" />
                        <div class="product-info col-5 align-items-start ">
                            <h4>@product.Title</h4>
                            <h6>
                                @L["Price"]: <b>@($"{product.Price:f2}") @L["Currency"]</b>
                            </h6>
                            <h6>
                                @if (product.IsActive)
                                {
                                    <p class="text-info">@L["Available"]</p>
                                }
                                else
                                {
                                    <p class="text-danger">@L["NotAvailable"]</p>
                                }
                            </h6>
                        </div>
                    </div>
                </div>
            }
            <div class="card-list text-center col-8 mt-4">
                <h3>@L["Total"] @L["Price"].ToString().ToLower(): @($"{Model.MineProduct.totalPrice:f2}")  @L["Currency"]</h3>
                <a asp-area=""
                   asp-controller="Order"
                   asp-action="AddOrder"
                   class="align-content-center justify-content-center btn btn-outline-primary text-size">@L["Buy"]</a>
            </div>
        }
        else
        {
            <p class="lead">
                @L["NoProducts"]
            </p>
        }
    </section>
</section>
