@model MineProductViewModel

@{
    ViewBag.Title = "Shop List";
}
<head>
    <link rel="stylesheet" href="~/css/Order/Mine.css" asp-append-version="true" />
</head>
<h2 class="text-center title">@ViewBag.Title</h2>
<hr />

@if (Model.Products.Any())
{
    <article class="product-center col-12">

        @foreach (var product in Model.Products)
        {
            <div class="col-8 mt-2">
                <div class="card-list">
                    <img class="card-img-list" src="@product.ImageUrl" alt="Image">

                    <div class="product-info">
                        <h4>@product.Title</h4>
                        <h6>
                            Price: <b>@($"{product.Price:f2}") BGN</b>
                        </h6>
                        <h6>
                            @if (product.IsActive)
                            {
                                <p class="text-info">Available</p>
                            }
                            else
                            {
                                <p class="text-danger">Not Available</p>
                            }
                        </h6>
                    </div>
                    <div class="card-list">
                        <a asp-area=""
                           asp-controller="Product"
                           asp-action="Details"
                           asp-route-id="@product.Id"
                           class="btn btn-success">Details</a>

                        <a asp-area=""
                           asp-controller="Order"
                           asp-action="Remove"
                           asp-route-id="@product.Id"
                           class="btn btn-primary">Remove</a>

                        <a class="ml-2 btn btn-info"
                           asp-area=""
                           asp-controller="Comment"
                           asp-action="Comment"
                           asp-route-id="@product.Id">Comment</a>
                    </div>
                </div>
            </div>
        }
        <div class="card-list text-center col-8 mt-4">
            <h3>Total Price: @($"{Model.totalPrice:f2}")  BGN</h3>
            <a asp-area=""
               asp-controller="Order"
               asp-action="DetailsOrder"
               class="btn btn-outline-primary text-size">Buy</a>

        </div>
    </article>
}
else
{
    <p class="lead">
        There are no product in the shop list.
    </p>
}
