

@model MineProductViewModel

@{
    ViewBag.Title = L["ShopList"];
}
<head>
    <link rel="stylesheet" href="~/css/Order/Mine.css" asp-append-version="true" />
</head>
<h2 class="text-center title">@ViewBag.Title</h2>
<hr />


<article class="product-center col-12">

    @if (Model.Products.Any())
    {
        @foreach (var product in Model.Products)
        {
            string carouselId = $"productCarousel_{product.Id}";
            <div class="col-8 mt-2">
                <div class="card-list">
                   
                    @* <img class="card-img-list" src="@product.ImageUrl" alt="@App.L("Image")"> *@
                    <partial class="w-50" name="_ImageUrlsPartial" model="@(product.ImageUrl,carouselId)" />
                    <div class="product-info">
                        <h4>@product.Title</h4>
                        <h6>
                            @L["Price"]: <b>@($"{product.Price:f2}") @L["Currency"]</b>
                        </h6>
                        <h6>
                            @if (product.IsActive)
                            {
                                <p class="text-info">@L["Available"]</p>
                            }
                            else
                            {
                                <p class="text-danger">@L["NotAvailable"]</p>
                            }
                        </h6>
                    
                    <div class="card-list">
                        <a asp-area=""
                           asp-controller="Product"
                           asp-action="Details"
                           asp-route-id="@product.Id"
                           class="btn btn-success">@L["Details"]</a>

                        <a asp-area=""
                           asp-controller="Order"
                           asp-action="Remove"
                           asp-route-id="@product.Id"
                           class="btn btn-primary">@L["Remove"]</a>

                        <a class="ml-2 btn btn-info"
                           asp-area=""
                           asp-controller="Product"
                           asp-action="Comment"
                           asp-route-id="@product.Id">@L["Comment"]</a>
                    </div>
                    </div>
                </div>
            </div>
        }
        <div class="card-list text-center col-8 mt-4">
            <h3>@L["Total"] @L["Price"].ToString().ToLower(): @($"{Model.totalPrice:f2}")  @L["Currency"]</h3>
            <a asp-area=""
               asp-controller="Order"
               asp-action="DetailsOrder"
               class="btn btn-outline-primary text-size"> @L["Buy"]</a>

        </div>
    }
    else
    {
        <p class="lead">
            @L["NoProducts"]
        </p>
    }
</article>

