
@model ICollection<OrderStatusViewModel>;


@{
    ViewBag.Title = L["OrderStatus"];
}
<head>
    <link rel="stylesheet" href="~/css/Order/DetailOrder.css" asp-append-version="true" />
</head>

<h2 class="text-center title">@ViewBag.Title</h2>
<hr />
<section class="details">
    @foreach (var order in Model)
    {
        <section class="details">
            <section class="address text-start">
                <h4 class="text-center title">@L["OrderDetails"]</h4>
                <h5> @L["Country"] - @order.OrdersDetails.CountryName</h5>
                <h5> @L["City"] - @order.OrdersDetails.CityName</h5>
                <h5> @L["Street"] - @order.OrdersDetails.Street</h5>
                <h5> @L["PhoneNumber"] - @order.OrdersDetails.PhoneNumber</h5>
                <h5> @L["DeliveryCompany"] - @order.OrdersDetails.DeliveryCompanyName</h5>
                <h5> @L["MethodPayment"] - @order.OrdersDetails.MethodPayment</h5>
                <h5> @L["Date"] - @order.OrdersDetails.CreaateOn</h5>
                <h5> @L["Status"] - @((order.OrdersDetails.IsSent) ? L["Sent"] : L["NotSent"])</h5>
                @if(order.OrdersDetails.IsSent)
                {
                    <h5> @L["Номер на пратката dfddfd"] - @order.OrdersDetails.CreaateOn</h5>
                }
                <h5> @L["Total"] @L["Price"]  - @order.OrdersDetails.TotalPrice</h5>
                @if (order.OrdersDetails.IsSent==false)
                {
                    <a asp-area=""
                       asp-controller="Order"
                       asp-action="CancelOrder"
                       asp-route-id="@order.OrderId"
                       class="btn btn-warning">@L["CancellationOrder"]</a>
                }
                <a class="btn btn-outline-primary"
                   asp-area=""
                   asp-controller="Order"
                   asp-action="ProductOrder"
                   asp-route-id="@(@order.OrderId)">@L["ProductsOrder"]</a>
            </section>
        </section>
    }
</section>