@model ICollection<OrderStatusViewModel>;


@{
    ViewBag.Title = "Order Status";
}
<head>
    <link rel="stylesheet" href="~/css/Order/DetailOrder.css" asp-append-version="true" />
</head>

<h2 class="text-center title">@ViewBag.Title</h2>
<hr />
<section class="details">
    @foreach (var order in Model)
    {
        <section class="details">
            <section class="address text-start">
                <h4 class="text-center title">Order Details </h4>
                <h5> Country - @order.OrdersDetails.CountryName</h5>
                <h5> City - @order.OrdersDetails.CityName</h5>
                <h5> Street - @order.OrdersDetails.Street</h5>
                <h5> Phone Number - @order.OrdersDetails.PhoneNumber</h5>
                <h5> Delivery Company - @order.OrdersDetails.DeliveryCompanyName</h5>
                <h5> Method Payment - @order.OrdersDetails.MethodPayment</h5>
                <h5> Date - @order.OrdersDetails.CreaateOn</h5>
                <h5> Status - @((order.OrdersDetails.IsSent) ? "Sent" : " Not Sent")</h5>
                <h5> Total Price  - @order.OrdersDetails.TotalPrice</h5>
                @if (order.OrdersDetails.IsSent==false)
                {
                    <a asp-area=""
                       asp-controller="Order"
                       asp-action="CancelOrder"
                       asp-route-id="@order.OrderId"
                    class="btn btn-warning">Cancellation of the order</a>
                }
                <a class="btn btn-outline-primary"
                   asp-area=""
                   asp-controller="Order"
                   asp-action="ProductOrder"
                   asp-route-id="@(@order.OrderId)">Products in Order</a>
            </section>
        </section>
    }
</section>