@using HandmadeByDoniApp.Web.Resources
@model MineProductViewModel

@{
    ViewBag.Title = App.L("ProductsOrder");
}
<head>
    <link rel="stylesheet" href="~/css/Order/Mine.css" asp-append-version="true" />
</head>
<h2 class="text-center title">@ViewBag.Title</h2>
<hr />


<article class="product-center col-12">
    @foreach (var product in Model.Products)
    {
        string carouselId = $"productCarousel_{product.Id}";
        <div class="col-8 mt-2">
            <div class="card-list">
               @*  <img class="card-img-list" src="@product.ImageUrl" alt="@App.L("Image")"> *@
                <partial  name="_ImageUrlsPartial" model="@(product.ImageUrl,carouselId)" />
                <div class="product-info">
                    <h4>@product.Title</h4>
                    <h6>
                        @App.L("Price"): <b>@($"{product.Price:f2}") @App.L("Currency")</b>
                    </h6>
                </div>
                <div class="card-list">
                    <a asp-area=""
                       asp-controller="Product"
                       asp-action="Details"
                       asp-route-id="@product.Id"
                       class="btn btn-success">@App.L("Details")</a>

                    <a class="ml-2 btn btn-info"
                       asp-area=""
                       asp-controller="Product"
                       asp-action="Comment"
                       asp-route-id="@product.Id">@App.L("Comment")</a>       
                </div>
            </div>
        </div>
    }
    <div class="card-list text-center col-8 mt-4">
        <h3>@App.L("Total") @App.L("Price"): @($"{Model.totalPrice:f2}") @App.L("Currency")</h3>
    </div>
</article>

