@model SetFormModel
<form method="post">

    <section class="set-add">
        <section class="set-form">
            <div class="col-sm-12 offset-lg-1 col-lg-10 offset-xl-1 col-xl-10">

                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" placeholder="Title...">
                    <span asp-validation-for="Title" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" rows="4" class="form-control" placeholder="Description..."></textarea>
                    <span asp-validation-for="Description" class="small textdanger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl"></label>
                    <input asp-for="ImageUrl" class="form-control" placeholder="Your fine URL here...">
                    <span asp-validation-for="ImageUrl" class="small textdanger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="form-control">
                    <span asp-validation-for="Price" class="small textdanger"></span>
                </div>

            </div>
        </section>
        <section class="set-form">
            <h5 class="text-center title">First Glass</h5>
            <div class="row">
                <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
                    <div class="form-group">
                        <label asp-for="GlassOne.Title"></label>
                        <input asp-for="GlassOne.Title" class="form-control" placeholder="Title...">
                        <span asp-validation-for="GlassOne.Title" class="small text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GlassOne.Description"></label>
                        <textarea asp-for="GlassOne.Description" rows="4" class="form-control" placeholder="Description..."></textarea>
                        <span asp-validation-for="GlassOne.Description" class="small textdanger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GlassOne.ImageUrl"></label>
                        <input asp-for="GlassOne.ImageUrl" class="form-control" placeholder="Your fine URL here...">
                        <span asp-validation-for="GlassOne.ImageUrl" class="small textdanger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GlassOne.Capacity"></label>
                        <input asp-for="GlassOne.Capacity" class="form-control" placeholder="400ml">
                        <span asp-validation-for="GlassOne.Capacity" class="small textdanger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GlassOne.CategoryId"></label>
                        <select asp-for="GlassOne.CategoryId" class="form-control">
                            @foreach (var category in Model.GlassOne.Categories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </select>
                        <span asp-validation-for="GlassOne.CategoryId" class="small text-danger"></span>
                    </div>
                </div>
            </div>
            <h5 class="text-center title">Second Glass</h5>
            <div class="row">
                <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
                    <div class="form-group">
                        <label asp-for="GlassTwo.Title"></label>
                        <input asp-for="GlassTwo.Title" class="form-control" placeholder="Title...">
                        <span asp-validation-for="GlassTwo.Title" class="small text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GlassTwo.Description"></label>
                        <textarea asp-for="GlassTwo.Description" rows="4" class="form-control" placeholder="Description..."></textarea>
                        <span asp-validation-for="GlassTwo.Description" class="small textdanger"></span>
                        <div class="form-group">
                            <label asp-for="GlassTwo.ImageUrl"></label>
                            <input asp-for="GlassTwo.ImageUrl" class="form-control" placeholder="Your fine URL here...">
                            <span asp-validation-for="GlassTwo.ImageUrl" class="small textdanger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="GlassTwo.Capacity"></label>
                            <input asp-for="GlassTwo.Capacity" class="form-control" placeholder="400ml">
                            <span asp-validation-for="GlassTwo.Capacity" class="small textdanger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="GlassTwo.CategoryId"></label>
                            <select asp-for="GlassTwo.CategoryId" class="form-control">
                                @foreach (var category in Model.GlassTwo.Categories)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            </select>
                            <span asp-validation-for="GlassTwo.CategoryId" class="small text-danger"></span>
                        </div>
                    </div>
                </div>
                @if (Model.NumberOfCups == 4 && Model.GlassThree!=null && Model.GlassFour!=null)
                {
                    <h5 class="text-center title">Third Glass</h5>
                    <div class="row">
                        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
                            <div class="form-group">
                                <label asp-for="GlassThree.Title"></label>
                                <input asp-for="GlassThree.Title" class="form-control" placeholder="Title...">
                                <span asp-validation-for="GlassThree.Title" class="small text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="GlassThree.Description"></label>
                                <textarea asp-for="GlassThree.Description" rows="4" class="form-control" placeholder="Description..."></textarea>
                                <span asp-validation-for="GlassThree.Description" class="small textdanger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="GlassThree.ImageUrl"></label>
                                <input asp-for="GlassThree.ImageUrl" class="form-control" placeholder="Your fine URL here...">
                                <span asp-validation-for="GlassThree.ImageUrl" class="small textdanger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="GlassThree.Capacity"></label>
                                <input asp-for="GlassThree.Capacity" class="form-control" placeholder="400ml">
                                <span asp-validation-for="GlassThree.Capacity" class="small textdanger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="GlassThree.CategoryId"></label>
                                <select asp-for="GlassThree.CategoryId" class="form-control">
                                    @foreach (var category in Model.GlassThree.Categories)
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="GlassThree.CategoryId" class="small text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <h5 class="text-center title">Fourth Glass</h5>
                    <div class="row">
                        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
                            <div class="form-group">
                                <label asp-for="GlassFour.Title"></label>
                                <input asp-for="GlassFour.Title" class="form-control" placeholder="Title...">
                                <span asp-validation-for="GlassFour.Title" class="small text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="GlassFour.Description"></label>
                                <textarea asp-for="GlassFour.Description" rows="4" class="form-control" placeholder="Description..."></textarea>
                                <span asp-validation-for="GlassFour.Description" class="small textdanger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="GlassFour.ImageUrl"></label>
                                <input asp-for="GlassFour.ImageUrl" class="form-control" placeholder="Your fine URL here...">
                                <span asp-validation-for="GlassFour.ImageUrl" class="small textdanger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="GlassFour.Capacity"></label>
                                <input asp-for="GlassFour.Capacity" class="form-control" placeholder="400ml">
                                <span asp-validation-for="GlassFour.Capacity" class="small textdanger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="GlassFour.CategoryId"></label>
                                <select asp-for="GlassFour.CategoryId" class="form-control">
                                    @foreach (var category in Model.GlassFour.Categories)
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="GlassFour.CategoryId" class="small text-danger"></span>
                            </div>
                        </div>
                    </div>
                }

                @if (Model.Decanter != null)
                {
                    <h5 class="text-center title">Decanter</h5>

                    <div class="row dropdown-toggle">
                        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
                            <div class="form-group">
                                <label asp-for="Decanter.Title"></label>
                                <input asp-for="Decanter.Title" class="form-control" placeholder="Title...">
                                <span asp-validation-for="Decanter.Title" class="small text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Decanter.Description"></label>
                                <textarea asp-for="Decanter.Description" rows="4" class="form-control" placeholder="Description..."></textarea>
                                <span asp-validation-for="Decanter.Description" class="small textdanger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Decanter.ImageUrl"></label>
                                <input asp-for="Decanter.ImageUrl" class="form-control" placeholder="Your fine URL here...">
                                <span asp-validation-for="Decanter.ImageUrl" class="small textdanger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Decanter.Capacity"></label>
                                <input asp-for="Decanter.Capacity" class="form-control">
                                <span asp-validation-for="Decanter.Capacity" class="small textdanger"></span>
                            </div>
                        </div>
                    </div>
                }
        </section>
    </section>


    <div class="text-center">
        <input class="btn btn-primary mt-3" type="submit" value="Save" />
    </div>
</form>
