
@model dynamic
@{
    ViewData["Title"] = L["ManageYourAccount"];
    var tab = ViewBag.SelectedTab as string ?? "Profile";
}

<h1 class="text-center title">@ViewData["Title"]</h1>
<hr />

<div class="row">
    <div class="col-md-2">
        <ul class="nav flex-column nav-pills">
            <li class="nav-item">
                <a class="nav-link @(tab == "Profile" ? "active" : "")" asp-action="ProfileSettings" asp-route-tab="Profile">@L["Profile"]</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(tab == "Email" ? "active" : "")" asp-action="ProfileSettings" asp-route-tab="Email">@L["Email"]</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(tab == "Password" ? "active" : "")" asp-action="ProfileSettings" asp-route-tab="Password">@L["Password"]</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(tab == "TwoFactor" ? "active" : "")" asp-action="ProfileSettings" asp-route-tab="TwoFactor">@L["Two-factor authentication"]</a>
            </li>
            @*<li class="nav-item">
                <a class="nav-link @(tab == "PersonalData" ? "active" : "")" asp-action="ProfileSettings" asp-route-tab="PersonalData">@App.L("Personal data")</a>
             </li>*@
        </ul>
    </div>

    <div class="col-md-9">
        @switch (tab)
        {
            case "Email":
                @await Html.PartialAsync("_EditEmail")
                break;
            case "Password":
                @await Html.PartialAsync("_EditPassword")
                break;
            case "TwoFactor":
                @await Html.PartialAsync("_TwoFactor")
                break;
            case "PersonalData":
                @await Html.PartialAsync("_PersonalData")
                break;
            default:
                @await Html.PartialAsync("_EditProfile")
                break;
        }
    </div>
</div>
