@using HandmadeByDoniApp.Web.Infrastructure.Extensions
@model DecanterDetailsViewModel

@{
    ViewBag.Title = "Decanter Details";
}

<h2 class="text-center title">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;" src="@Model.ImageUrl" alt="Decanter Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Title</u></p>
            <p>@Model.Description</p>
            <p><i>Capacity: @(Model.Capacity)ml</i> </p>
            <p><i>(@(Model.IsSet ? "In Set" : "Not Set"))</i></p>
            @if (Model.IsSet)
            {
                <a class="ml-2" asp-controller="Details" asp-action="Product"
                   asp-route-id="@Model.Id">See Set</a>
            }
            else
            {
                <p>Price:<b>@($"({Model.Price:f2}")) BGN</b></p>
                <a class="ml-2 btn " asp-controller="" asp-action=""
                   asp-route-id="@Model.Id">Buy</a>
            }

            <div class="form-inline">  
                @if (User.IsAdmin())
                {
                    <a class="btn btn-warning" asp-controller="Decanter" asp-action="Edit"
                       asp-route-id="@Model.Id">Edit</a>
                    <a class="ml-2 btn btn-danger" asp-controller="Decanter" aspaction="Delete"
                       asp-route-id="@Model.Id">Delete</a>

                }
            </div>
        </div>
    </div>
</div>

